{% extends 'base.html' %}

{% block content %}

<div class="container h-100 align-items-center">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-5 align-self-center">
            <form method="POST">
                <div class="form-floating mb-4">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
                    <label for="name" class="form-label">Name</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                    <label for="username" class="form-label">Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    <label for="password" class="form-label">Password</label>
                </div>
                
                <div class="mb-4 d-grid">
                    <input type="submit" class="btn btn-primary" value="Register">
                </div>
                <div class="text-center">
                    <p>Already have account? <a href="{{ url_for('auth.login') }}">Sign in</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}