{% extends 'layout.html' %}

{% block title %}
    Konta
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row my-4">
            <div class="col-12 text-center">
                <h1 class="display-5">
                    Zarządzaj swoimi kontami
                </h1>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-10 d-grid mx-auto">
                <button type="button" class="btn btn-lg btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalAdd">
                    <span>Dodaj nowe konto</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="display-6 mb-3">Twoje konta</h1>
                <div class="d-flex flex-wrap justify-content-evenly">
                    {% if accounts %}
                        {% for account in accounts %}
                            <div class="card col-md-3 my-2">
                                <div class="card-header h5">
                                    {{ account['name'] }}
                                </div>
                                <div class="card-body">
                                    <h6 class="fw-light">Aktualny stan:</h6>
                                    <h5 class="text-center mb-3">{{ account['balance'] }}zł</h5>
                                    <div class="row">
                                        <div class="col d-grid">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#modalUpdate" data-account="{{ account['_id']['$oid'] }}" data-balance="{{ account['balance'] }}" class="btn btn-outline-secondary btn-sm">Edytuj</button>
                                        </div>
                                        <div class="col d-grid">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#modalDelete" data-account="{{ account['_id']['$oid'] }}" class="btn btn-outline-danger btn-sm">Usuń</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="fw-light">Nie posiadasz jeszcze żadnych kont!</p>
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>

    <!-- ADD ACCOUNT MODAL -->
    <div class="modal fade" id="modalAdd" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Dodaj konto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" name="add_account" id="add_account" action="{{ url_for('accounts.add_account') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" form="add_account">
                        <div class="mb-3">
                            <label for="account_name" class="form-label">Nazwa</label>
                            <input type="text" form="add_account" name="account_name" id="account_name" value="" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="start_balance">Początkowy stan konta</label>
                            <input type="text" form="add_account" name="start_balance" id="start_balance" class="form-control mb-3" pattern="^(([1-9]\d{0,2}(\d{3})*)|\d+)?(,\d{1,2})?$" title="Podaj wartość całkowitą, lub po przecinku np. 0,25, 30, 21,3" required>
                        </div>
                        <div class="accordion">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" name="is_cyclical" id="is_cyclical" form="add_account" data-bs-toggle="collapse" data-bs-target="#cyclical" aria-controls="cyclical">
                                <label class="form-check-label" for="is_cyclical">Cykliczny wpływ na konto</label>
                            </div>
                            <div id="cyclical" class="accordion-collapse collapse">
                                <div class="accordion-body row pt-0">
                                    <div class="col-6">
                                        <label for="income_amount">Kwota wpływu</label>
                                        <input type="text" form="add_account" name="income_amount" id="income_amount" class="form-control" pattern="^(([1-9]\d{0,2}(\d{3})*)|\d+)?(,\d{1,2})?$" title="Podaj wartość całkowitą, lub po przecinku np. 0,25, 30, 21,3" value="0">
                                    </div>
                                    <div class="col-6">
                                        <label for="income_day">Dzień wpływu</label>
                                        <select form="add_account" name="income_day" id="income_day" class="form-select">
                                            {% for n in range(28) %}
                                                {% if loop.first %}
                                                    <option selected value="{{ n + 1 }}">{{ n + 1 }}</option>
                                                {% else %}
                                                    <option value="{{ n + 1 }}">{{ n + 1 }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                              </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success" form="add_account">Dodaj konto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT ACCOUNT MODAL -->
    <div class="modal fade" id="modalUpdate" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Edytuj konto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Zmiana nazwy konta wpłynie na wszystkie wydatki powiązane z tym kontem.</p>
                    <p>Ustawienie cyklicznego wpływu nie działa wstecz.</p>
                    <form method="POST" name="update_account" id="update_account" action="{{ url_for('accounts.update_account') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" form="update_account">
                        <input type="hidden" name="account_id" id="account_id" form="update_account">
                        <div class="mb-3">
                            <label for="new_account_name" class="form-label">Nazwa</label>
                            <input type="text" form="update_account" name="new_account_name" id="new_account_name" value="" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="balance_new">Stan konta</label>
                            <input type="text" form="update_account" name="balance_new" id="balance_new" class="form-control mb-3" pattern="^(([1-9]\d{0,2}(\d{3})*)|\d+)?(,\d{1,2})?$" title="Podaj wartość całkowitą, lub po przecinku np. 0,25, 30, 21,3" required>
                        </div>
                        <div class="accordion">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" name="is_cyclical" id="is_cyclical" form="update_account" data-bs-toggle="collapse" data-bs-target="#cyclical" aria-controls="cyclical">
                                <label class="form-check-label" for="is_cyclical">Cykliczny wpływ na konto</label>
                            </div>
                            <div id="cyclical" class="accordion-collapse collapse">
                                <div class="accordion-body row pt-0">
                                    <div class="col-6">
                                        <label for="income_amount">Kwota wpływu</label>
                                        <input type="text" form="update_account" name="income_amount" id="income_amount" class="form-control" pattern="^(([1-9]\d{0,2}(\d{3})*)|\d+)?(,\d{1,2})?$" title="Podaj wartość całkowitą, lub po przecinku np. 0,25, 30, 21,3" value="0">
                                    </div>
                                    <div class="col-6">
                                        <label for="income_day">Dzień wpływu</label>
                                        <select form="update_account" name="income_day" id="income_day" class="form-select">
                                            {% for n in range(28) %}
                                                {% if loop.first %}
                                                    <option selected value="{{ n + 1 }}">{{ n + 1 }}</option>
                                                {% else %}
                                                    <option value="{{ n + 1 }}">{{ n + 1 }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                              </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success" form="update_account">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE CONFIRMATION MODAL -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="text-warning">Czy na pewno chcesz usunąć konto <span class="fst-italic"></span>?</h4>
                    <p>Spowoduje to również usunięcie wszystkich wydatków, przypisanych do tego konta.</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <form method="POST" name="delete_account" id="delete_account" action="{{ url_for('accounts.delete_account') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" form="delete_account">
                        <input type="hidden" name="account_id" id="account_id" form="delete_account">
                        <button class="btn btn-danger" type="submit" form="delete_account">Usuń</button>
                    </form>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" defer>
        let _accounts = `{{ accounts|tojson }}`
    </script>
    <script src="{{ url_for('static', filename='js/accounts.js') }}" defer></script>
{% endblock %}