{% extends 'layout.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" />
{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>  
{% endblock %}

{% block title %}
    Historia
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row my-4">
            <div class="col-12 text-center">
                <h1 class="display-5">Historia wydatków</h1>
            </div>
        </div>
        <!-- EXPENSES TABLE BEGIN  -->
        <div class="row my-4">
            <div class="col-12 justify-content-center">
                <table class="table table-hover" id="expenses">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">#</th>
                            <th scope="col">Kwota</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Kategoria</th>
                            <th scope="col">Konto</th>
                            <th scope="col">Data</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for expense in expenses %}
                                <tr data-bs-toggle="modal" data-bs-target="#modalEdit" data-amount="{{ expense['amount'] }}" data-description="{{ expense['description'] }}" data-category="{{ expense['category'] }}" data-account="{{ expense['account'] }}" data-date="{{ expense['date_at']['$date']|format_date_from_string }}" data-expenseId="{{ expense['_id']['$oid'] }}" class="expenseTableRow">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ expense['amount'] }} zł</td>
                                    <td>{{ expense['description'] }}</td>
                                    <td>{{ expense['category'] }}</td>
                                    <td>{{ expense['account'] }}</td>
                                    <td>{{ expense['date_at']['$date']|format_date_from_string }}</td>  
                                    <td><button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#modalConfirm"></button></td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- EXPENSE EDIT MODAL BEGIN -->

        <div class="modal fade" id="modalEdit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title ds-5">Edytuj wydatek</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('expenses.update_expense') }}" name="update_expense">
                            <input type="hidden" name="expense_id" id="expense_id">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="row g-3 mb-4">
                                <div class="col">
                                    <label for="amount" class="form-label">Kwota</label>
                                    <input type="text" id="amount" name="amount" pattern="^(([1-9]\d{0,2}(\d{3})*)|\d+)?(,\d{1,2})?$" title="Podaj wartość całkowitą, lub po przecinku np. 0,25, 30, 21,3" class="form-control" value="" required>
                                </div>
                                <div class="col">
                                    <label for="category" class="form-label">Kategoria</label>
                                    <select class="form-select" aria-label="Category" name="category" id="category">
                                        {% for category in categories %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row g-3 mb-4">
                                <div class="col">
                                    <label for="date" class="form-label">Data wydatku</label>
                                    <input type="date" id="date" name="date" class="form-control" required>
                                </div>
                                <div class="col">
                                    <label for="account" class="form-label">Konto</label>
                                    <select class="form-select" aria-label="Account" name="account" id="account">
                                        {% for account in accounts %}
                                            <option value="{{ account['name'] }}">{{ account['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row g-3 mb-4">
                                <label for="description">Opis</label>
                                <input type="text" id="description" name="description" pattern="^(\S| ){1,100}$" title="Opis nie może być pusty i może zawierać maksymalnie 100 znaków" class="form-control">
                            </div>
                            <div class="mb-4">
                                <input type="submit" class="btn btn-primary" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EXPENSE DELETE MODAL BEGIN -->

    <div class="modal fade" id="modalConfirm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="text-warning">Czy na pewno chcesz usunąć ten wydatek?</h4>
                </div>
                <div class="modal-footer justify-content-between">
                    <form method="POST" action="{{ url_for('expenses.delete_expense') }}" name="delete_expense" id="delete_expense">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" form="delete_expense">
                        <input type="hidden" name="expense_id" id="expense_id" form="delete_expense">
                        <button class="btn btn-danger" id="btnDeleteExpense" form="delete_expense" type="submit">Usuń</button>
                    </form>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/expense_hist.js') }}" defer></script>

{% endblock %}