{% extends 'layout.html' %}

{% block title %}
    Wydatki
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-12 text-center">
                <h1 class="display-5">Zarządzaj swoimi wydatkami</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Zobacz wydatki</h5>
                        <p class="card-text">Zobacz pełną listę swoich wydatków z przestrzeni wybranego miesiąca</p>
                        <a href="{{ url_for('expenses.expense_history') }}" class="btn btn-secondary">Zobacz</a>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dodaj wydatki</h5>
                        <p class="card-text">Jednocześnie dodaj wiele wydatków w jednym miejscu</p>
                        <a href="{{ url_for('expenses.expense_add') }}" class="btn btn-secondary">Dodaj</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}