{% extends 'layout.html' %}

{% block title %}
  Konto
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row my-4">
        <div class="col-12 text-center">
          <h1 class="display-5">Cześć, {{ g.user['name'] }}!</h1>
        </div>
      </div>

      <div class="row justify-content-center mb-3">
        <div class="col-lg-7 text-center">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Statystyki</h4>
              <p class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Jesteś z nami od <span class="fw-bold text-start">{{ stats['member_from']|format_datetime }}</span></li>
                  {% if stats['expense_count'] != 0 %}
                    <li class="list-group-item">W naszej aplikacji zarejestrowałeś <span class="fw-bold text-start">{{ stats['expense_count'] }}</span> wydatków!</li>
                    <li class="list-group-item">Łączna kwota zarejestrowanych wydatków to <span class="fw-bold text-start">{{ stats['expense_sum'] }} zł!</span></li>
                    <li class="list-group-item">Przez ostatnie 30 dni wydawałeś średnio <span class="fw-bold text-start">{{ stats['expense_avg'] }} zł</span> dziennie!</li>
                  {% endif %}
                  {% if stats['account_count'] != 0 %}
                    <li class="list-group-item"><span class="fw-bold text-start">{{ stats['accounts_sum'] }} zł</span> - tyle wynosi suma pieniędzy na Twoich kontach!</li>
                  {% endif %}
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 text-center">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Zmiana hasła</h4>
              <form method="POST" class="row justify-content-center" action="{{ url_for('user_account.change_password') }}" name="change-password" id="chage-password">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <div class="form-floating mb-4 col-8">
                    <input type="password" id="old_password" name="old_password" class="form-control" placeholder="Stare hasło" form="change-password" required/>
                    <label class="form-label ms-3" for="old_password">Stare hasło</label>
                  </div>
                  <div class="form-floating mb-4 col-8">
                    <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Nowe hasło" form="change-password" required/>
                    <label class="form-label ms-3" for="new_password">Nowe hasło</label>
                  </div>
                  <div class="mb-4 d-grid col-8">
                      <input type="submit" class="btn btn-primary" form="change-password" value="Zapisz">
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7"></div>
        <div class="col-lg-5 text-center">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-3">Usunięcie konta</h4>
              <p>Usunięcie konta spowoduje usunięcie wszystkich danych powiązanych z Twoim adresem mailowym.</p>
            <form method="POST" action="{{ url_for('user_account.delete_account') }}" class="row justify-content-center" name="delete-account" id="delete-account">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-floating mb-4 col-8">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Podaj hasło" form="delete-account">
                  <label for="password" class="form-label ms-3">Podaj hasło</label>
                </div>
                <div class="mb-4 d-grid col-8">
                  <input type="submit" class="btn btn-danger" form="delete-account" value="Usuń konto">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}